@model Janson.Models.Entity.BlogTBL


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--? Hero Area Start-->
<div class="hero-area2 d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-xl-12">
                <!-- Hero Caption -->
                <div class="hero-cap pt-100">
                    <h2>Blog Details</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Hero Area End-->
<!--? Blog Area Start -->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">

                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="@Model.Photo" alt="">
                    </div>
                    <div class="blog_details">
                        <h2 style="color: #2d2d2d;">
                            @Model.Baslik
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i> @Model.Tarih</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i> @Model.MesageBlogTBL.Count(y => y.BlogID == Model.ID) Yorum</a></li>
                        </ul>
                        <p class="excert">
                            @Model.icerik
                        </p>

                    </div>
                </div>


                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">

                    </div>
                    @* next post *@
                    @Html.Action("NextPostPartial")

                </div>
                @* oluşturan comment *@
                @Html.Action("CreatorPartial")


                <div class="comments-area">
                    <h4>@Model.MesageBlogTBL.Count(y => y.BlogID == Model.ID) Yorum</h4>

                    @Html.Action("BlogCommentsPartial")

                </div>

                @* yorum yaptıma kısmı *@
                @Html.Action("CreateBlogComment")
            </div>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">

                    @* Search *@
                    <aside class="single_sidebar_widget search_widget" style="background-color:rgb(0, 8, 77) !important" >
                        <form  >
                            <div class="form-group" >
                                <div class="input-group mb-3" >
                                    <p style="font-family:'MS Outlook'; color:rgb(255, 255, 255)">
                                        <br />
                                        Reklam/Sponsor bölümü yapılabilir. <br />
                                        Search vardı kaldırdım
                                        <br />
                                    </p>
                                </div>
                            </div>
                          
                        </form>
                    </aside>




                    @Html.Action("CategoryPartial", "Blog")


                    @Html.Action("RecendPartial", "Blog")

                    @Html.Action("TagPartial", "Blog")








                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Area End -->

@Html.Action("ContactPartial", "Main")