@using Janson.Models.Entity
@model PagedList.IPagedList<BlogTBL>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Blog</h2>



<br />
<br />

@using (Html.BeginForm("Index", "AdminBlog", FormMethod.Get))
{
    <div class="input-group mb-3">
        @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "search..." }) &ensp;

        <button type="submit" class="btn btn-warning">Search</button>
    </div>
}



<link href="~/jnstema/assets/css/Paging.css" rel="stylesheet" />


<a href="/AdminBlog/InsertBlogPage/" class="btn  btn-outline-info">İnsert</a> &ensp; &ensp;


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Baslik</th>
        <th>İçerik</th>
        <th>Oluşturan</th>
        <th>Photo</th>
        <th>Tarih</th>



      
        <th>Güncelle</th>
        <th>Sil</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.ID</th>
            <td>@x.Baslik</td>
            <td>@x.icerik</td>
            <td>@x.Olusturan</td>
            <td style="display: flex; justify-content: space-between; align-items: center;">
                @x.Photo &ensp;
                <button class="btn btn-sm btn-outline-primary" onclick="copyToClipboard('@x.Photo')">
                    <i class="fa fa-copy"></i>
                </button>

            </td>
            <td>@x.Tarih</td>




         
            <td><a href="/AdminBlog/UpdateBlogPage/@x.ID" class="btn mb-1 btn-rounded btn-outline-success">Update</a></td>
            <td><a href="/AdminBlog/DeleteBlogPage/@x.ID" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a></td>

        </tr>
    }
</table>


@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))




<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function () {
            alert("Kopyalandı: " + text);
        }).catch(function (err) {
            alert("Kopyalama başarısız oldu: " + err);
        });
    }
</script>